:root {
  --color-brand-purple: #6c5fbc;
  --color-brand-dark: #323142;
  --color-primary-grey: #676767;
  --color-primary-lightgrey: #969696;
  --color-primary-light: #fff;
  --color-secondary-red: #f1534e;
  --color-secondary-yellow: #fbad18;
  --color-third-grey: #606060;
  --color-third-black: #201f1f;
  --color-gold: #f59e0b;
  --color-purple-light: #c5bfed;
  --color-black: #18181b;
  --color-darkpurple: #323142;
  --color-card-text: #daa31a;
  --color-card-background: #f7edd0;
  --color-card-red: #fb471d;
  --color-card-redbackground: #f7c5ba;
  --color-card-grey: #8e97a6;
  --color-card-green: #309d5b;
  --color-card-greenbackground: #64da9383;
  --color-card-title: #1a202c;
  --color-card-text-1: #a0aec0;
  --color-card-border: #edf2f7;
  --color-brand-purple-light: #6b5fbc36;
  --color-secondary-yellow-light: #fbac183d;
  --color-money: #22c55e;
  --color-input-placeholder: #878787;
  --color-footer: #eaeaea;
  --color-footer-social: #081420;
  --color-footer-copy: #999;
}
