:root {
  --color-brand-purple: #6c5fbc;
  --color-brand-dark: #323142;
  --color-primary-grey: #676767;
  --color-primary-lightgrey: #969696;
  --color-primary-light: #fff;
  --color-secondary-red: #f1534e;
  --color-secondary-yellow: #fbad18;
  --color-third-grey: #606060;
  --color-third-black: #201f1f;
  --color-gold: #f59e0b;
  --color-purple-light: #c5bfed;
  --color-black: #18181b;
}
