.adventures-section {
  background-color: var(--color-brand-purple);
  padding-top: 47px;
  padding-bottom: 43px;
  background-image: url("../images/quality-back.png");
  background-size: cover;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 160px;
  }

  &__item {
    position: relative;
    &:not(:last-child) {
      &::after {
        position: absolute;
        top: 1px;
        right: -80px;
        content: "";
        width: 1px;
        height: 123px;
        opacity: 0.15;
        background-color: var(--color-purple-light);
      }
    }
  }

  &__title {
    color: var(--color-primary-light);
    font-size: 43px;
    font-family: "Public Sans", sans-serif;
    margin-bottom: 12px;
  }

  &__text {
    color: var(--color-purple-light);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    max-width: 252px;
  }
}
