.dishes-section {
  padding: 100px 0 120px 0;

  &__container {
    position: relative;

    &::after {
      position: absolute;
      bottom: -120px;
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--color-primary-lightgrey);
      opacity: 0.15;
    }
  }
  &__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__title {
    text-align: center;
    color: var(--color-darkpurple);
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  &__span {
    color: var(--color-brand-purple);
  }
}
