.header {
  padding: 28px 0 62px 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 33px 0 132px 0;
  }

  @media screen and (min-width: $bp-desktop) {
    padding: 46px 0 132px 0;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      position: absolute;
      content: "";
      bottom: -26px;
      width: 100%;
      height: 1px;
      background-color: var(--color-primary-lightgrey);
      opacity: 0.3;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
  }

  &__logo-icon {
    display: flex;
    flex-shrink: 0;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      gap: 54px;
    }
  }

  &__buttons-list {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;
      gap: 36px;
    }
  }

  &__button {
    padding: 18px 26px;
    border-radius: 18px;
    border: 0;
  }

  &__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--color-brand-purple);

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}
