.hero-section {
  padding-bottom: 35px;

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 140px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__uppertitle {
    color: var(--color-third-black);
    position: relative;
    font-size: 10px;
    font-weight: 600;
    font-family: "Poppins";
    line-height: 1.2;
    letter-spacing: 2px;
    opacity: 0.2;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      color: inherit;
      font-size: 15px;
      letter-spacing: 2px;
      text-align: justify;
      margin-left: 74px;
    }

    &::before {
      position: absolute;
      left: -74px;
      top: 50%;
      content: "";
      width: 54px;
      height: 1px;
      background-color: var(--color-third-black);
    }
  }

  &__title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: var(--color-third-black);
    font-size: 46px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.85px;
    max-width: 332px;
    margin-bottom: 16px;
    margin: 0 auto;
    margin-bottom: 15px;

    @media screen and (min-width: $bp-tablet) {
      text-align: start;
      font-size: 53px;
      letter-spacing: -2.1px;
      margin: 0;
      max-width: 403px;
      margin-bottom: 11px;
    }

    @media screen and (min-width: $bp-desktop) {
      text-align: start;
      font-size: 75px;
      letter-spacing: -3px;
      margin: 0;
      max-width: 576px;
      margin-bottom: 16px;
    }
  }

  &__span {
    color: var(--color-brand-purple);

    &--bolder {
      font-weight: 500;
    }
  }

  &__text {
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    max-width: 307px;
    margin: 0 auto;
    margin-bottom: 41px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 12px;
      text-align: justify;
      max-width: 354px;
      opacity: 0.7;
      margin: 0;
      margin-bottom: 37px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 18px;
      max-width: 499px;
      margin: 0;
      margin-bottom: 53px;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 35px;

    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
      margin-bottom: 33px;
    }
  }

  &__button {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding: 14px 24px;
    letter-spacing: 0.1px;
    border-radius: 14px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 16px;
      padding: 16px 26px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-family: "Poppins", sans-serif;
      padding: 18px 30px;
    }
  }

  &__mark {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;

    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
      margin-bottom: 126px;
    }
  }

  &__left,
  &__photo {
    flex-grow: 1;
  }

  &__photo {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
      position: relative;
    }
  }

  &__flow {
    position: absolute;
    top: -48px;
    right: 38px;
  }

  &__graph {
    position: absolute;
    bottom: -82px;
    left: -106px;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__illustration-1-item {
    position: absolute;
    top: -68px;
    right: 0;
    fill: var(--color-brand-purple);
  }

  &__illustration-2-item {
    position: absolute;
    bottom: -53px;
    left: -102px;
    fill: var(--color-brand-purple);
  }

  &__illustration-3-item {
    position: absolute;
    bottom: 1px;
    right: 1px;
    fill: var(--color-brand-purple);
  }
}
