.input-group {
  &__input {
    position: relative;
    font-size: 16px;
    color: var(--color-input-placeholder);
    letter-spacing: 0.44px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    border: 2px solid transparent;
    border-radius: 14px;
    background-color: var(--color-primary-light);
    opacity: 0.8;
    padding: 14px;
    max-width: 440px;
    width: 100%;

    &:focus-visible {
      outline: var(--color-brand-dark);
      border: 2px solid var(--color-brand-dark);
    }
  }
}
