.link {
  color: var(--color-third-grey);
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  transition: color 0.2s;

  &:hover {
    color: var(--color-brand-purple);
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
    color: var(--color-card-grey);
    transition: color 0.2s;

    &:hover {
      color: var(--color-brand-purple);
    }
  }

  &__text {
    font-size: 20px;
    font-weight: 500;
  }
}
