.link {
  color: var(--color-third-grey);
  font-size: 10px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  transition: color 0.2s;

  @media screen and (min-width: $bp-tablet) {
    color: var(--color-third-grey);
    font-size: 12px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    transition: color 0.2s;
  }

  @media screen and (min-width: $bp-desktop) {
    color: var(--color-third-grey);
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
    transition: color 0.2s;
  }

  &--bigger {
    font-size: 14px;
    font-weight: 500;

    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 18px;
    }
  }

  &:hover {
    color: var(--color-brand-purple);
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
    color: var(--color-card-grey);
    transition: color 0.2s;
    margin-bottom: 50px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 0;
    }

    &:hover {
      color: var(--color-brand-purple);
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 500;

    @media screen and (min-width: $bp-tablet) {
      font-size: 14px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 20px;
    }
  }
}
