.plus {
  border-radius: 8px;
  fill: var(--color-primary-light);
  background-color: var(--color-darkpurple);
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color-brand-purple);
  }
}
