.purchase-card {
  border: 2px solid var(--color-primary-light);
  border-radius: 26px;
  box-shadow: 0px 0px 27px -11px rgba(0, 0, 0, 0.75);
  padding: 45px 38px;
  width: 534px;

  &__content {
    display: flex;
  }

  &__first-line,
  &__second-line {
    border: 2px solid var(--color-card-border);
    border-radius: 18px;
    display: flex;
    align-items: center;
    padding: 26px;
  }

  &__first-line {
    margin-bottom: 22px;
  }

  &__main-text {
    flex-grow: 1;
    margin-bottom: 56px;
  }

  &__title {
    color: var(--color-card-title);
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    letter-spacing: 0.62px;
    font-weight: 800;
  }

  &__price {
    color: var(--color-card-title);
    font-size: 21px;
    font-weight: 800;
    text-align: right;
    font-family: "Manrope", sans-serif;
    letter-spacing: 0.31px;
  }

  &__paragraph {
    color: var(--color-card-text-1);
  }

  &__wallet {
    fill: var(--color-brand-purple);
    border-radius: 50px;
    background-color: var(--color-purple-light);
    box-shadow: 0px 0px 0px 10px rgba(197, 191, 237, 1);
  }
  &__test {
    padding-right: 18px;
  }
}
